<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
<h1>Historical Weather data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL example of station and date temperature: http://127.0.0.1:5000/api/v1/10/1756-01-02</p>
<!--<p>URL example for one station for all dates: http://127.0.0.1:5000/api/v1/10/</p>-->
<p>URL example for one station for all dates: http://127.0.0.1:5000//api/v1/yearly/10/1756</p>
<!--<p>URL example for one station for all dates: http://127.0.0.1:5000/api/v1/10/</p>-->
<h4>Dictionary data API</h4>
<p>Also you can use example URL to get word description: <p>
<p>URL format: http://127.0.0.1:5000/api/dict/cat</p> <p>http://127.0.0.1:5000/api/dict/word</p>
<p>{{data|safe}}</p>
</body>
</html>